@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@1,200&family=Montserrat:wght@300&display=swap');

body {
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

/* main page */
.mp-1 {
  /* font */
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  /* border */
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 0px 0px 0px 0px;
  border: 0px;
  /*background  */
  background-color: #ffffff;
  background-image: linear-gradient(
    225deg,
    #ffffff 0%,
    #08aeea 50%,
    #2af598 100%
  );
  /* CSS Grid */
  display: grid;
  grid: repeat(3, 200px) / repeat(10, 1fr);
}

#ht {
  transform: skewY(-12deg);
  transform-origin: 0;
  background-image: linear-gradient(225deg, #08aeea 50%, #2af598 100%);
}

.mp-2 {
  grid-column: span 3;
}

.mp-3 {
  grid-area: 2 / span 3 / auto / -1;
  background-image: linear-gradient(225deg, #ffffff 10%, #08aeea 50%);
  transform: skewY(-12deg);
  transform-origin: 0;
  height: 400px;
}

.mp-4 {
  grid-row: 3;
  grid-column: span 5;
  height: 400px;
}
