@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@1,200&family=Montserrat:wght@300&display=swap');

body {
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

/* main page */
.mp-1 {
  /* font */
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  /* border */
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 0px 0px 0px 0px;
  border: 0px;
  /*background  */
  background-color: #ffffff;
  background-image: linear-gradient(
    225deg,
    #ffffff 0%,
    #08aeea 50%,
    #2af598 100%
  );
  /* CSS Grid */
  display: grid;
  grid: repeat(4, 200px) / repeat(10, 1fr);
  transform: skewY(-12deg);
  transform-origin: 0;
}

#ht {
  background-image: linear-gradient(225deg, #08aeea 50%, #2af598 100%);
}

.mp-2 {
  grid-column: span 3;
}

.mp-3 {
  grid-area: 2 / span 3 / auto / -1;
  background-image: linear-gradient(225deg, #ffffff 10%, #08aeea 50%);
  height: 200px;
}

.mp-4 {
  grid-row: 3;
  grid-column: span 5;
  height: 200px;
}

.mp-h1 {
  text-align: center;
  position: absolute;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  z-index: 2;
  top: 450px;
  right: 390px;
  font-size: 3rem;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite;
  color: white;
  font-weight: 900;
  transform: skewY(-14deg);
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #08aeea;
  }
}

.laptop {
  height: 700px;
  width: 700px;
  position: absolute;
  top: 250px;
  left: 800px;
  transform: skewY(17deg);
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  height: 100px;
  width: 200px;
  border: none;
  border-radius: 20px 20px 20px 20px;
}

.btn-grad:hover {
  background-position: right center;
}
