@import url('https://fonts.googleapis.com/css?family=Rochester&display=swap');

.wc-1 {
  /* CSS Grid */
  display: grid;
  grid: repeat(6, 200px) / repeat(10, 1fr);
  justify-items: center;
  transform: skewY(-12deg);
  transform-origin: 0;
  position: relative;
  z-index: 0;
}

.h2 {
  position: center;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: #000000;
  right: 0px;
  transform: skewY(12deg);
  transform-origin: 0;
}

.form-div {
  grid-column-start: 2;
  grid-row-start: 4;
  transform: skewY(12deg);
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.68531162464986) 0%,
    rgb(245, 245, 245) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 400px;
  height: 300px;
  border-radius: 5% 5% 5% 5%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.38);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
