@import url('https://fonts.googleapis.com/css?family=Rochester&display=swap');

.wc-1 {
  /* CSS Grid */
  display: grid;
  grid: repeat(4, 200px) / repeat(10, 1fr);
}

.h2 {
  position: center;
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 2;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: #000000;
  right: 0px;
}
