@import url('https://fonts.googleapis.com/css?family=Rochester&display=swap');

.wl-1 {
  position: relative;
  display: grid;
  grid: repeat(4, 200px) / repeat(10, 1fr);
  transform: skewY(12deg);
  bottom: 200px;
  z-index: 3;
  background-color: rgb(247, 247, 247);
}

.tablet-screen {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: -550px;
  right: 200px;
  color: black;
  z-index: 3;
}

ul {
  grid-row: span 3;
  list-style-type: none;
  transform: skewY(-12deg);
}

.circle-div {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #78eea5;
  transform: skewY(-12deg);
  position: absolute;
  left: 740px;
  top: -50px;
}
